/* login.jsp & signup.jsp 공통 사용*/
.login-layout {
	margin: 1rem 0rem;
	padding: 1rem;
}

.login-title {
	font-size: 24px;
	font-family: Pretendard-Regular;
	text-align: center;
	color: #404040;
}

.login-layout > hr {
	margin: 15px 0px;
}

.wrap-login-form {
	margin: 2rem;
}

.login-form {
	margin: 0 auto;
	padding: 5rem 3rem;
	border: 1px solid #D9D9D9;
	width: 55%;
	border-radius: 5px;
}

.login-input-layout {
	display: flex;
	flex-direction: column;
	padding-bottom: 1.5rem;
}

.login-input-layout > label {
	font-size: 1.1rem;
	padding-bottom: 10px;
}

.login-input-layout > input {
	border: 1px solid #D9D9D9;
	padding: 0.8rem 0.5rem;
	font-size: 1rem;
	border-radius: 5px;
}

.submit-btn-info {
	display: flex;
	flex-direction: column;
}

.login-btn {
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	border: none;
	padding: 1rem;
	background-color: #2C2C2C;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1rem;
}

.login-info {
	padding: 1rem 0rem;
	display: flex;
	justify-content: flex-end;
}

.login-info > a {
	margin-left: 15px;
	color: #222222;
}

.check-sex {
	padding-bottom: 1rem;
	font-size: 1.1rem;
}
