/* 커뮤니티 메인디자인 */
.comm-layout {
	margin: 1rem 0rem;
	padding: 1rem;
}

.comm-title {
	font-size: 24px;
	font-family: Pretendard-Regular;
	text-align: center;
	color: #404040;
}

.comm-layout > hr {
	margin: 15px 0px;
}

/* 커뮤니티 글 작성 */
.comm-write-head {
	
}

.comm-write-form {
	
}