<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.aisw.wit.yaeipja.repo.userMapper">
	<select id="getId" parameterType="net.aisw.wit.yaeipja.dto.userDTO" resultType="int">
		SELECT
			COUNT(*) as count
		FROM user
		WHERE
			id = #{id} 
	</select>
</mapper>